 /* Foto */ 
  header {
    border: 3px;
    border-style: ridge;
    border-color: rgb(78, 77, 77);
    font-family: 'Ubuntu', sans-serif;
  }
  img{
    width: 200px;
    height: 200px;
    margin-right: 16px;
    text-align:center;
  }
  img.circulo{
    border-radius: 50%;
  }
  /* Nombre y apellido*/
  nav {
    width: 100%;
    font-style: italic;
    background-color: rgb(236, 181, 16);
    border-bottom: 3px;
    border-left: 3px;
    border-right: 3px;
    border-style: ridge;
    border-color: rgb(78, 77, 77);
  }
nav h1{
  color: aliceblue;
}
 /* Contenedor columnaizq*/
  #columnaizq{
    float: left;
    border: 3px;
    border-style: ridge;
    border-color: black;
   }
/* div Contacto */
#Datos_contacto{
  background-color: rgb(58, 57, 57);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}
#Datos_contacto h3{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 10px;
}
#Datos_contacto ul{
  margin:0
}
#Datos_contacto ul li{
  list-style: none;
  cursor: pointer;
  margin: 10px;
}
#Datos_contacto ul li .icono {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: rgb(236, 181, 16);
}
/* DIV Conocimiento */
#Conocimiento{
  background-color: rgb(34, 33, 33);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px
}
#Conocimiento h3{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-left: 10px
}
#Conocimiento h4{
  text-indent: 20px;
}
progress{
  margin-left: 20px;
  accent-color: rgb(236, 181, 16);
  }
/* DIV Educación */
#Educación{
  background-color: rgb(0, 0, 0);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px
}
#Educación ul{
  margin: 0;
}
#Educación h3{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-left: 10px
}
#Educación li{
  padding-bottom: 10px;
}
#Educación li h4:nth-child(2)
{
  font-weight: 500;
  color: white;
}
#Educación li h4{
  font-weight: 300;
  color: white;
} 
#Educación li h5{
  font-weight: 500;
  color: white;
} 
 /* Columna derecha*/ 
aside{
  float: left;
 }
 /* Perfil*/ 
 #Perfil h2{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: rgb(236, 181, 16);
 }
 #Perfil p{
  padding-left: 25px;
  padding-bottom: 25px;
  text-indent: 15px; ;
 }
/* Experiencia Laboral*/ 
 #Experiencia_lab{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
  padding-bottom: 25px;
  text-decoration: underline;
  text-decoration-color: rgb(236, 181, 16);
 }
/* Acordeon experiencia*/ 
 #panelsStayOpen-headingOne button{
  background-color: rgb(236, 181, 16);
  color: rgb(10, 9, 9);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.4s;
 }
#panelsStayOpen-headingTwo button {
  background-color: rgb(236, 181, 16);
  color: rgb(10, 9, 9);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.4s;
}
#panelsStayOpen-headingThree button {
  background-color: rgb(236, 181, 16);
  color: rgb(10, 9, 9);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.4s;
}


